[package]
name = "wired-rs"
version = "0.1.0"
authors = ["iostapyshyn"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sdl2 = "0.33.0"
image = "0.23.0"
rand = "0.7.3"
