@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
}

hr {
  border: 0px;
  height: 1px;
  background: #d1d1d1;
}

table {
  border-spacing: 2px;
}

.centered {
  position: relative;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.horizontally-centered {
  position: relative;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.button {
  font-size: 100%;
  padding: .5em 1em;
  border: none transparent;
  text-decoration: none;
  width: min-content;
  height: min-content;

  color: #202020;

  /*border: 1px solid #d1d1d1;*/
  /*border-radius: 2px;*/

  background-color: #ffffff;
}

.button:hover {
  color: #000000;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 2px;
  background: black;
  outline: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.panel {
  max-width: 100%;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 10px;
  margin: 25px;
}

.subnav {
  box-sizing: border-box;
  background-color: #fff;
  padding: 5px;
  height: 34px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
  color: #000;
}

.menu {
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #f2f2f2;
}

#left, #right {
  height: 100%;
  display: inline;
  float: left;
  overflow-x: hidden;
}

#left {
  position:relative;

  width: 20%;
  min-height: 100%;
  background: #f2f2f2;
  text-align: center;
}

#right {
  width: 80%;
  background: black;

  /* Centering of the content. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* The split shall be horizontal on mobile. */
@media only screen and (max-width : 1099px) {
  #left, #right {
    width: 100%;
  }

  #left {
    height: max-content;
  }
}

/* Needed for proper scrolling when canvas doesn't fit on the screen. */
#canvas-container {
  width: 100%;
  overflow-y: auto;
}

#canvas {
  border: 1px solid #1f1f1f;
  cursor: none;
}

#github-icon {
  position: relative;
  display: inline-block;
  float: right;
  max-width: 100%;
  max-height: 100%;
}
